<div class="card my-5">
  <div class="card-body">
    <table class="table table-bordered table-striped">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">Item No.</th>
          <th scope="col">Name</th>
          <th scope="col">Amount</th>
          <th scope="col">Inv. code</th>

        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of items">
          <td>{{ item.id }}</td>
          <td>{{ item.itemId }}</td>
          <td>{{ item.name }}</td>
          <td>{{ item.amount }}</td>
          <td>{{ item.invCode }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
